/* UNIVERSAL TAG */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

/* SECTION 01*/

/* This row intentionally left blank */

.banner {
  background-image: url("./images/banner/banner3.png");
  width: 1600px;
  height: 808px;
  text-align: right;
}

.cover-text {
  padding-right: 180px;
}

.cover-title {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  padding-top: 216px;
  margin-bottom: 0px;
}

.cover-about {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 0px;
}

.btn-primary {
  color: #005fac;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #fff;
  margin-top: 32px;
  border: none;
}

/* SECTION 02*/

/* This row intentionally left blank */
.second-section {
  display: flex;
  gap: 105.22px;
  padding-left: 200px;
  margin: 140px 0px;
}

.title-my-failures {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  width: 288px;
  margin-bottom: 0px;
}

.section-description {
  width: 416px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 0px;
}

.section-list {
  margin-top: 16px;
}

#second-section-text {
  padding-top: 300px;
}

/* SECTION 03*/

/* This row intentionally left blank */

.my-plans {
  display: flex;
  gap: 98px;
  text-align: center;
  padding-left: 400px;
  margin-bottom: 135.6px;
}

.title-my-plan {
  padding-left: 800px;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 53px;
}

.my-plans img {
  margin-bottom: 24px;
}

.my-plans h2 {
  margin-bottom: 16px;
}

/* SECTION 03*/

/* This row intentionally left blank */
.hand-image {
  background-image: url("./images/watch.png");
  background-repeat: no-repeat;
  padding-left: 500px;
  background-position: center;
  margin-bottom: 130px;
}

.title-hand-image {
  width: 459px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding-top: 59px;
}

#btn-call-me {
  margin-bottom: 59px;
}
