* {
  font-family: "Work Sans", sans-serif;

  margin: 0px;
}

/* 1st Section: Banner Page */
.banner {
  color: #ffffff;
  display: flex;
  background-image: url(../images/banner/banner3.png);
  width: 1600px;
  height: 808px;
  align-items: center;
  margin: auto;
}

.section-title {
  width: 525px;
  height: 228px;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  margin-bottom: 24px;
  margin-left: 845px;
  margin-right: 230px;
}

.section-subtitle {
  width: 494px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  margin-bottom: 32px;
  margin-left: 876px;
  margin-right: 230px;
}

.btn-primary {
  background-color: #ffffff;
  color: #005fac;
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 1210px;
  margin-right: 230px;
}

/* 2nd section: My failures of previous year */
.my-failures {
  display: flex;
  align-items: center;
  gap: 87px;
  margin-top: 131px;
  justify-content: center;
}

.person {
  width: 569px;
  height: 723.3px;
}

.secondary-title {
  color: #151414;
  width: 288px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
  line-height: 46.92px;
}

.secondary-subtitle {
  color: #444343;
  width: 416px;
  height: 104px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}

ul {
  color: #444343;
  width: 349px;
  height: 162px;
  line-height: 26px;
  list-style: none;
}

/* 3rd Section: MY PLANS */
.my-plans-title {
  color: #151414;
  width: 179px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.92px;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 896px;
  margin-top: 129.7px;
}

.my-plans {
  color: #151414;
  display: flex;
  font-weight: 700;
  font-size: 30px;
  line-height: 35.19px;
  justify-content: center;
  text-align: center;
  gap: 99px;
}

.my-plans-task {
  color: #737272;
  font-weight: 500;
  font-size: 25px;
  line-height: 29.33px;
  align-items: center;
  margin-top: 16px;
}

/* 4th section: Call Now */
.gradient-section {
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);

  width: 1140px;
  height: 300px;
  border-radius: 8px;
  align-items: center;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 130px;
  align-items: center;
}

.gradient-title {
  color: #ffffff;
  width: 459px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.92px;
  margin-left: 64px;
  margin-bottom: 24px;
  padding-top: 59px;
}

.btn-call-now {
  background-color: #ffffff;
  color: #005fac;
  width: 160px;
  height: 64px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23.46px;
  border: none;
  margin-left: 64px;
  margin-bottom: 59px;
}

/* 5th Section: Contact Information */
.footer {
  display: flex;
  gap: 331px;
  background-color: #151414;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.footer-title {
  color: #ffffff;
  width: 148px;
  height: 53px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 16px;
}

.footer-2nd-title {
  color: #ffffff;
  display: inline-block;
  width: 123px;
  height: 29px;
  font-weight: 600;
  font-size: 25px;
  line-height: 29.33px;
  margin-bottom: 31px;
}

.footer-subtitle {
  color: #ffffff;
  width: 485px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

.contact-info {
  color: #ffffff;
  width: 190px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.email-box {
  width: 325px;
  height: 64px;
  border-radius: 8px;
  border-color: #ffffff;
  background-color: #151414;
  margin-bottom: 16px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.11px;
}

.social-icon {
  margin-right: 17px;
}

.btn-sub {
  background: #005fac;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: block;
  width: 170.11px;
  height: 64px;
  border: none;
  border-radius: 8px;
}
