* {
  font-family: "Work Sans", sans-serif;

  margin: 0px;
}

/* Banner Page */
.banner {
  color: #ffffff;
  display: flex;
  background-image: url(../images/banner/banner3.png);
  width: 1600px;
  height: 808px;
  align-items: center;
  margin: auto;
}

.section-title {
  width: 525px;
  height: 228px;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  margin-bottom: 24px;
  margin-left: 845px;
  margin-right: 230px;
}

.section-subtitle {
  width: 494px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  margin-bottom: 32px;
  margin-left: 876px;
  margin-right: 230px;
}

.btn-primary {
  background-color: #ffffff;
  color: #005fac;
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 1210px;
  margin-right: 230px;
}

/* My failures of previous year */
.my-failures {
  display: flex;
  align-items: center;
  gap: 87px;
  margin-top: 131px;
  justify-content: center;
}

.person {
  width: 569px;
  height: 723.3px;
}

.secondary-title {
  color: #151414;
  width: 288px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
  line-height: 46.92px;
}

.secondary-subtitle {
  color: #444343;
  width: 416px;
  height: 104px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}

ul {
  color: #444343;
  width: 349px;
  height: 162px;
  line-height: 26px;
  list-style: none;
}

/* MY PLANS */
.my-plans-title {
  color: #151414;
  width: 179px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.92px;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 896px;
  margin-top: 129.7px;
}

.my-plans {
  display: flex;
  justify-content: center;
}
